.App {
  text-align: center;
}

.task_list{
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 18px;
  background-color: rgba(225,236,252,0.99);
  font-family: Arial;
}
.list_action{
  float: right;
}

.task_form Button{
  background-color: cornflowerblue;
}
.validation_error i{
  padding: 0 10px 0 0 ;
  margin-top: 20px;
}
